// -----------------------------------------------
// --------------MAIN SETTINGS--------------------
// -----------------------------------------------
@import "./../imports.scss";
@import "./../../scss/base/fonts";
@import "./../libs/normalize.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    line-height: 100%;
    font-family: $base_ff;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: $base_fz;
    font-style: normal;
    color: $base_color;
    background: $base_bg;
    overflow-x: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &.no-scroll {
        position: fixed;
        overflow: hidden;
    }

    &.locked {
        overflow-y: hidden;
    }
}

//? Общая обёртка
.full-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
}

//? Размеры контейнеров
.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;

    &--big {
        width: 100%;
        max-width: 1660px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: default;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

a {
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
        opacity: $base_hover;
        transition: all 0.3s linear;
    }
}

span {
    display: inline-block;
}

button {
    outline: none;
    border: transparent;
    background: transparent;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

input,
textarea {

    &:focus,
    :active {
        outline: none;
    }
}

// ------------------------------------------------
// -------------------Buttons----------------------
// ------------------------------------------------


// ------------------------------------------------
// ----------------Navigation----------------------
// ------------------------------------------------


// ------------------------------------------------
// -----------------KEYFRAMES----------------------
// ------------------------------------------------

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
