// Base colors
$white: #ffffff;
$black: #0d0d0d;
$primary: #303030;
$secondary: #8F8F8F;
$other: #F8F8F8;

// Action colors


// Font Size
$base_fz: 1.6rem;
$base_ff: 'Roboto Condensed', sans-serif;
$base_hover: 0.5; // opacity
$base_bg: #403f3f;
$base_color: #fff;

//? Fonts
$ff_R: 'Roboto Condensed', sans-serif;
$ff_M: 'Merriweather', serif;

//? Style
$I: italic;
$O: oblique;

//? Weight
$th: 100; // Thin
$el: 200; // Extra Light
$l: 300; // Light
$r: 400; // Regular
$m: 500; // Medium
$sb: 600; // SemiBold
$b: 700; // Bold
$eb: 800; // Extra Bold
$bl: 900; // Super
